[Desktop Entry]
Name=eOVPN
GenericName=eOVPN
Comment=OpenVPN manager
Icon=com.github.jkotra.eovpn
Exec=eovpn %U
Terminal=false
Type=Application
Categories=Network;X-VPN;
StartupNotify=false
