[Desktop Entry]
Name=eOVPN
GenericName=eOVPN
Comment=OpenVPN Configuration Manager
Icon=com.github.jkotra.eovpn
MimeType=application/x-openvpn-profile;
Exec=eovpn -c %f
Terminal=false
Type=Application
Categories=Network;X-VPN;
StartupNotify=false
