.badge_proto {
    background-color: green;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 4px;
    padding-right: 4px;
    color: white;
}

.badge_status {
    border-radius: 10px;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 10px;
    padding-right: 10px;
    color: white;
}

.badge {
    background-color: #1a5fb4;
    border-radius: 100px;
    padding: 2px 6px 2px 6px;
    color: white;
}

.reset_button {
    background: rgb(121, 21, 21);
}

.ip_text {
    font-size: large;
    font-weight: bold;
}

.bold {
    font-weight: bold;
}

.progress-yellow trough progress {
    background-color: #fdd804;
    border-bottom-color: #fdd804;
}

.progress-full-green trough progress {
    background-color: #3E8914;
    border-bottom-color: #3E8914;
}

.progress-orange trough progress {
    background-color: #fd9206;
    border-bottom-color: #fd9206;
}


.m-10 {
    margin: 10px;
}

.m-6 {
    margin: 6px;
}

.m-4 {
    margin: 4px;
}

.mt-4 {
    margin-top: 4px;
}

.mb-4 {
    margin-bottom: 4px;
}

.mlr-4 {
    margin-left: 4px;
    margin-right: 4px;
}

.mlr-6 {
    margin-left: 6px;
    margin-right: 6px;
}

.mlr-10 {
    margin-left: 10px;
    margin-right: 10px;
}

.btn-no-dec {
    border-style: none;
    background-color: transparent;
}