
.badge_proto {
    border-radius: 8px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 4px;
    padding-right: 4px;
    color: white;
}

.badge_status {
    border-radius: 10px;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 10px;
    padding-right: 10px;
    color: white;
}

.badge {
    background-color: #1a5fb4;
    border-radius: 100px;
    padding: 2px 6px 2px 6px;
    color: white;
}


.bg_red {
    background-color: rgb(119, 14, 14);
}

.bg_blue {
    background-color: rgb(15, 55, 165);
}

.bg_green {
    background-color: #26a269;
}

.bg_black {
    background-color: black;
}

.reset_button {
    background: rgb(121, 21, 21);
}